.container{
  text-align: center;
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.form-container{

}

.addContact{
  text-align: left;
  border: 3px solid black;
  border-radius: 10%;
  padding:20px;
  background-color: lightgrey;
}

.removed{
  display:none;
}

.userLineItem{
  clear:both;
  margin:10px;
}

.userPhoto{
  float:left;
  margin: 10px;
}

li{
  height:120px;;
}
